{% extends "base/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/gestion_reservas.css' %}">


<div class="landing-container" style="padding: 6rem; margin-top: 6rem; max-width: 90%;">
    <section class="hero-section">
        <h2>Gestión de Habitaciones</h2>
        <a href="{% url 'agregar_habitacion' %}" class="btn-main">Agregar habitación</a>
    </section>
    <div class="table-container">
        <table class="main-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Capacidad</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in habitaciones %}
                <tr>
                    <td>{{ habitacion.id_habitacion }}</td>
                    <td>{{ habitacion.tipo }}</td>
                    <td>{{ habitacion.capacidad }}</td>
                    <td>${{ habitacion.precio }}</td>
                    <td>{{ habitacion.estado }}</td>
                    <td>
                        <a href="{% url 'editar_habitacion' habitacion.id_habitacion %}" class="btn-table">Editar</a>
                        <a href="{% url 'eliminar_habitacion' habitacion.id_habitacion %}" class="btn-table btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="6">No hay habitaciones registradas.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}