{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="landing-container" style="padding: 6rem; margin-top: 6rem; margin-top: 6rem;">
    <section class="hero-section">
        <h2>Acceso Administrador</h2>
        <p>Ingresa tus credenciales</p>
    </section>
    <div class="form-container">
        <form method="post" class="main-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-main">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}