{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="landing-container" style="padding: 3rem; margin-top: 8rem;">
    <section class="hero-section">
        <h1>Hotel Pacific Reef</h1>
        <p>Haz tu reserva hoy.</p>
    </section>
    <div class="form-container">
        {% if not fecha_inicio or not fecha_fin %}
            <!-- Formulario de fechas -->
            <form method="get" class="main-form">
                <label>Fecha inicio:</label>
                <input type="date" name="fecha_inicio" required>
                <label>Fecha fin:</label>
                <input type="date" name="fecha_fin" required>
                <button type="submit" class="btn-main">Buscar habitaciones</button>
            </form>
        {% elif form %}
            <!-- Formulario de reserva -->
            <form method="post" class="main-form">
                {% csrf_token %}
                <p>
                    <label for="id_rut">RUT:</label>
                    <input type="text" name="rut" id="rut"
                        placeholder="Ej: XX.XXX.XXX-X"
                        value="{{ form.rut.value|default_if_none:'' }}"
                        required>
                    {% if form.rut.errors %}
                        <span class="error">{{ form.rut.errors.0 }}</span>
                    {% endif %}
                </p>
                {{ form.nombre.label_tag }} {{ form.nombre }}
                {{ form.email.label_tag }} {{ form.email }}
                {{ form.telefono.label_tag }} {{ form.telefono }}
                {{ form.habitacion.label_tag }} {{ form.habitacion }}

                <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio|date:'Y-m-d' }}">
                <input type="hidden" name="fecha_fin" value="{{ fecha_fin|date:'Y-m-d' }}">

                <button type="submit" class="btn-main">Reservar</button>
                <a href="{% url 'reservar' %}" class="btn-cancel">Cambiar fechas</a>
            </form>
        {% else %}
            <div class="message message-info">
                No hay habitaciones disponibles para ese rango de fechas.
            </div>
            <a href="{% url 'reservar' %}" class="btn-cancel" style="">Elegir otras fechas</a>
        {% endif %}
    </div>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="message {% if message.tags %}message-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}